<header role="banner">
  <section class="overflow-hidden">
    <div class="flex items-center justify-between px-7 xl:px-40 py-5 bg-white">
      <div class="w-auto">
        <div class="flex flex-wrap items-center">
          <div class="w-auto mr-14">
            <%= link_to 'Home', root_path, class: 'text-blue-900 underline hover:text-gray-400' %>
          </div>
        </div>
      </div>
      <div class="w-auto">
        <div class="flex flex-wrap items-center">
          <div class="w-auto hidden lg:block">
            <ul class="flex items-center mr-16">
              <li class="mr-9 font-medium hover:text-gray-700">
                <%= link_to 'Athletes Den', root_path, class: 'text-blue-900 underline hover:text-gray-400' %>
              </li>
              <li class="mr-9 font-medium hover:text-gray-700"><%= link_to 'My Lounge', user_exercises_path(current_user) %></li>
            </ul>
          </div>
          <div class="w-auto hidden lg:block">
            <div class="inline-block">
              <ul class="nav navbar-nav navbar-right flex content-center">
                <% if user_signed_in? %>
                  <p class="navbar-text mr-5">
                    Signed in as <%= "#{current_user.email}" %>
                  </p>
                  <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "mt-5 py-3 px-5 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" %></li>
                <% else %>
                  <div class="flex">
                    <li><%= link_to "Sign up", new_user_registration_path, class: "py-3 px-5 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" %></li>
                    <li><%= link_to "Sign in", new_user_session_path, class: "py-3 px-5 ml-3 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-teal-600 hover:bg-teal-700 transition ease-in-out duration-200" %></li>
                  </div>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="w-auto lg:hidden">
            <a href="#">
              logo
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
      <nav class="relative z-10 px-9 pt-8 bg-white h-full overflow-y-auto">
        <div class="flex flex-wrap justify-between h-full">
          <div class="w-full">
            <div class="flex items-center justify-between -m-2">
              <div class="w-auto p-2">
                <a class="inline-block" href="#">
                  img
                </a>
              </div>
              <div class="w-auto p-2">
                <a class="navbar-burger" href="#">
                  burger
                </a>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-center py-16 w-full">
            <ul>
              <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#">Features</a></li>
              <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#">Solutions</a></li>
              <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#">Resources</a></li>
              <li><a class="font-medium hover:text-gray-700" href="#">Pricing</a></li>
            </ul>
          </div>
          <div class="flex flex-col justify-end w-full pb-8">
            <div class="flex flex-wrap">
              <div class="w-full">
                <div class="block">
                  <button class="py-3 px-5 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button">Try 14 Days Free Trial</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</header>
