<%= form_for([current_user, @exercise],
html: {class: 'block', role: 'form'}, remote: true) do |f| %>
  <% if @exercise.errors.any? %>
    <h2><%= pluralize(@exercise.errors.count, 'error') %>
      prohibited this exercise from being saved:</h2>
    <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="flex flex-col">
    <%= f.label :duration_in_min, 'Duration (min)' %>
    <%= f.number_field :duration_in_min, class: '' %>
  </div>
  <div class="flex flex-col">
    <%= f.label :workout, 'Workout details' %>
    <%= f.text_area :workout, class: '', rows: '10' %>
  </div>
  <div class="flex flex-col">
    <%= f.label :workout_date, 'Activity date' %>
    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
      </div>
      <%= f.text_field :workout_date, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', 'datepicker': true, 'datepicker-format': "dd-mm-yyyy", placeholder: 'Select date', 'autocomplete': 'off' %>
    </div>
  </div>
  <div class="flex">
    <%= f.submit class: "mt-5 py-3 px-5 text-white font-semibold rounded-xl focus:ring focus:ring-green-300 bg-green-600 hover:bg-green-700 transition ease-in-out duration-200" %>
  </div>
<% end %>
