<h1>Show exercise <%= @exercise&.id || 'no name' %>'s Workout details</h1>
<div class="flex flex-col">
  <h3 class="">Duration (min)</h3>
  <p class=""><%= @exercise.duration_in_min %></p>
</div>
<div class="flex flex-col">
  <h3 class="">Workout details</h3>
  <p class=""><%= truncate(@exercise.workout, length: 50) %></p>
</div>
<div class="flex flex-col">
  <h3 class="">Activity date:</h3>
  <p class=""><%= @exercise.workout_date %></p>
</div>
<div class="flex">
  <%= link_to 'Back', user_exercises_path(current_user),
  id: 'new-exer-btn',
  class: "flex box-content mt-5 py-3 px-5 text-white font-semibold rounded-xl focus:ring focus:ring-gray-300 bg-gray-600 hover:bg-gray-700 transition ease-in-out duration-200" %>
</div>
