Resolving dependencies...
<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/flowbite@1.5.5/dist/datepicker.js"></script>
  </head>
  <body>
    <div class="hidden bg-red-300 bg-green-300"></div>
    <%= render 'shared/header' %>
    <div class="mx-auto xl:px-40 py-5 h-[calc(100vh-80px)] w-screen flex flex-col justify-between">
      <%= render 'shared/main' %>
      <%= render 'shared/footer', class: 'flex-row justify-self-center' %>
    </div>
  </body>
</html>
