<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="hidden bg-red-300 bg-green-300"></div>
    <%= render 'shared/header' %>
    <div class="mx-auto xl:px-40 py-5">
      <%= render 'shared/main' %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
